<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="d-flex justify-content-start">
      <button class="btn btn-color p-3" routerLink="/dashboard/vacunas/listado">
        <i class="fa-solid fa-chevron-left"></i> Volver
      </button>
    </div>

    <app-title-page [title]="'Agregar vacuna '"></app-title-page>

    <div class="col-lg-10 mt-5">
      <form
        class="card-1 p-4"
        [formGroup]="vaccineForm"
        (ngSubmit)="onSubmit()"
      >
        <!-- 2 column grid layout with text inputs for the first and last names -->
        <div class="row mb-4">
          <div class="col">
            <div class="form-outline">
              <label class="form-label" for="name">Nombre</label>
              <input
                type="text"
                id="name"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['name'].errors }"
                formControlName="name"
              />
              <div
                *ngIf="submitted && f['name'].errors"
                class="invalid-feedback mt-0"
              >
                <p
                  class="validation-error"
                  *ngIf="f['name'].errors['required']"
                >
                  Debes especificar un titulo a la Vacunna.
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
              <label class="form-label" for="manufacturer">Fabricante</label>
              <input
                type="text"
                id="manufacturer"
                class="form-control"
                [ngClass]="{
                  'is-invalid': submitted && f['manufacturer'].errors
                }"
                formControlName="manufacturer"
              />
              <div
                *ngIf="submitted && f['manufacturer'].errors"
                class="invalid-feedback mt-0"
              >
                <p
                  class="validation-error"
                  *ngIf="f['manufacturer'].errors['required']"
                >
                  el Fabricante es requerido.
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- Text input -->
        <div class="form-outline mb-4">
          <label class="form-label" for="description"
            >Descripcion de la vacuna</label
          >
          <textarea
            class="form-control"
            id="description"
            rows="4"
            [ngClass]="{
              'is-invalid': submitted && f['description'].errors
            }"
            formControlName="description"
          ></textarea>

          <div
            *ngIf="submitted && f['description'].errors"
            class="invalid-feedback mt-0"
          >
            <p
              class="validation-error"
              *ngIf="f['description'].errors['required']"
            >
              la description es requerido.
            </p>
          </div>
        </div>

        <div class="row mb-4">
          <!-- <div class="col">
            <div class="form-outline">
              <label class="form-label" for="type">Tipo de aplicacion</label>
              <input type="text" id="type" class="form-control" />
            </div>
          </div> -->
          <div class="col">
            <div class="form-outline">
              <label class="form-label" for="via">Via aplicacion</label>
              <select
                class="form-select"
                aria-label="via-aplication"
                formControlName="via"
                [ngClass]="{
                  'is-invalid': submitted && f['via'].errors
                }"
              >
                <option [ngValue]="null" selected disabled>
                  Seleccione una Opcion
                </option>
                <option [ngValue]="'intravenosa'">Vía Intravenosa</option>
                <option [ngValue]="'Oral/Parental'">Vía Oral/Parental</option>
                <option [ngValue]="'intramuscular'">Vía Intramuscular</option>
                <option [ngValue]="'subcutánea'">Vía Subcutánea</option>
                <option [ngValue]="'subcutánea'">Vía Cental</option>
                <option [ngValue]="'subcutánea'">Vía intraósea</option>
                <option [ngValue]="'vía intraperitoneal'">
                  Vía intraperitoneal
                </option>
              </select>
              <div
                *ngIf="submitted && f['via'].errors"
                class="invalid-feedback mt-0"
              >
                <p class="validation-error" *ngIf="f['via'].errors['required']">
                  Debe escoger una via de aplicacion.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- Submit button -->
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-color btn-block mb-4 p-3">
            <i class="fa-solid fa-floppy-disk"></i> Guardar Vacuna
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
