
<section class="listaAnimales">
    <div class="container-fluid ">
        <div class="text-center mb-4 mt-2">
            <h1>Listado de trabajadores</h1>
        </div>
        <div class="text-center my-4">
            <p>"La base para el éxito de todo sistema de información, es el continuo seguimiento del flujo de datos"</p>
        </div>
       
        <table class="table table-hover  table-sm align-middle my-4">
            <thead class="table  ">
                <tr>
                <th scope="col">ID</th>
                <th scope="col">ALIAS</th>
                <th scope="col">NOMBRE</th>
                <th scope="col">APELLIDO</th>
                <th scope="col">PERFIL</th>
                <th scope="col">HORAS DEL MES</th>
                <th scope="col">ULT ACCESO</th>  
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><strong>#58945435</strong></td>
                    <td>KLevergz</td>
                    <td>Klever</td>
                    <td>García</td>
                    <td>Admin</td>
                    <td>200 Horas</td>
                    <td>05-03-2022</td>
                </tr>
                <tr>
                    <td><strong>#58945435</strong></td>
                    <td>verter1500</td>
                    <td>José</td>
                    <td>Zambrnao</td>
                    <td>Veterinario</td>
                    <td>189 Horas</td>
                    <td>05-03-2022</td>
                </tr>
                <tr>
                    <td><strong>#58945435</strong></td>
                    <td>admin1</td>
                    <td>Maria</td>
                    <td>zambrnao</td>
                    <td>Admón</td>
                    <td>150 Horas</td>
                    <td>05-03-2022</td>
                </tr>
                <tr>
                    <td><strong>#58945435</strong></td>
                    <td>Entre1</td>
                    <td>Raúl</td>
                    <td>González</td>
                    <td>Supervisor</td>
                    <td>190 Horas</td>
                    <td>05-03-2022</td>
                </tr>
                <tr>
                    <td><strong>#58945435</strong></td>
                    <td>entre2</td>
                    <td>Raúl</td>
                    <td>González</td>
                    <td>Entrenador</td>
                    <td>205 Horas</td>
                    <td>05-03-2022</td>
                </tr>
                <tr>
                    <td><strong>#58945435</strong></td>
                    <td>nuevo1</td>
                    <td>Carlitos</td>
                    <td>Pérez</td>
                    <td>PosibleDueño</td>
                    <td>187 Horas</td>
                    <td>05-03-2022</td>
                </tr>
            </tbody>
        </table>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Actualización de oferta</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="mb-3 px-3 align-middle">
                        <b>Empleo:           </b>#58945435<br>
                        <b>Tema:             </b>Servicio técnico<br>
                        <b>Tópico:           </b>Computadoras<br>
                        <b>Demanda actual:  </b>
                        <b>Contenido:        </b>HP, DELL,SIRAGON,LENOVO<br>
                        <b>Horario:          </b>de 8am a 4pm<br>
                        <b>Demanda anterior: </b>2<br>
                        <b>Demanda actual:  </b>
                        <label for="recipient-name" class="col-form-label"><input type="text" class="form-control" id="recipient-name"></label> 
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary"  data-bs-dismiss="modal">Actualizar</button>
                </div>
              </div>
            </div>
          </div>

    </div>
</section>
