
<section class="">
  <div class="container-fluid ">
      <div class="text-center mb-4 mt-2">
          <h1>Listado de posibles dueños</h1>
      </div>
      <div class="text-center my-4">
          <p>"La base para el éxito de todo sistema de información, es el continuo seguimiento del flujo de datos"</p>
      </div>
     
      <table class="table table-hover  table-sm align-middle my-4">
          <thead class="table  ">
              <tr>
              <th scope="col">EXPEDIENTE</th>
              <th scope="col">NOMBRE</th>
              <th scope="col">APELLIDO</th>
              <th scope="col">ÚLT. ACCESO</th>
              <th scope="col">ANIMAL DE INTERÉS</th>  
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td><strong>#58945435</strong></td>
                  <td>Klever</td>
                  <td>García</td>
                  <td>05-03-2022</td>
                  <td>DOBY</td>
              </tr>
              <tr>
                  <td><strong>#58945435</strong></td>
                  <td>José</td>
                  <td>Zambrnao</td>
                  <td>05-03-2022</td>
                  <td>flopy</td>
              </tr>
              <tr>
                  <td><strong>#58945435</strong></td>
                  <td>Maria</td>
                  <td>zambrnao</td>
                  <td>05-03-2022</td>
                  <td>Tornado</td>
              </tr>
              <tr>
                  <td><strong>#58945435</strong></td>
                  <td>Raúl</td>
                  <td>González</td>
                  <td>05-03-2022</td>
                  <td>Copo de nieve</td>
              </tr>
              <tr>
                  <td><strong>#58945435</strong></td>
                  <td>Raúl</td>
                  <td>González</td>
                  <td>05-03-2022</td>
                  <td>Sasha</td>     
              </tr>
              <tr>
                  <td><strong>#58945435</strong></td>
                  <td>Carlitos</td>
                  <td>Pérez</td>
                  <td>05-03-2022</td>
                  <td>Peluda</td>
              </tr>
          </tbody>
      </table>
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Actualización de oferta</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="mb-3 px-3 align-middle">
                      <b>Empleo:           </b>#58945435<br>
                      <b>Tema:             </b>Servicio técnico<br>
                      <b>Tópico:           </b>Computadoras<br>
                      <b>Demanda actual:  </b>
                      <b>Contenido:        </b>HP, DELL,SIRAGON,LENOVO<br>
                      <b>Horario:          </b>de 8am a 4pm<br>
                      <b>Demanda anterior: </b>2<br>
                      <b>Demanda actual:  </b>
                      <label for="recipient-name" class="col-form-label"><input type="text" class="form-control" id="recipient-name"></label> 
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary"  data-bs-dismiss="modal">Actualizar</button>
              </div>
            </div>
          </div>
        </div>

  </div>
</section>
