<div class="container-fluid py-0">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-xl-2 px-0">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-lg-9 col-md-8 col-xl-10">

      <router-outlet></router-outlet>
    </div>
  </div>
</div>
