<div class="table-responsive card-3 px-5 py-5">
  <table class="table">
    <thead>
      <tr class="text-center">
        <th scope="col">Nombre</th>
        <th scope="col">Peso</th>
        <th scope="col">Sexo</th>
        <th scope="col">Color de pelo</th>
        <th scope="col">Cumpleaños</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody class="align-middle">
      <tr *ngFor="let animal of animals | paginate: { itemsPerPage: 5, currentPage: p }" class="text-center">
        <th>
          <img src="./assets/images/patas.png" alt="" width="20" height="20" class="me-2" />
          {{ animal.name }}
        </th>
        <th>{{ animal.weight }} Kg</th>
        <th>
          {{
            animal.gender === "undefine"
              ? "indefinido"
              : animal.gender === "male"
              ? "macho"
              : "hembra"
          }}
        </th>
        <th>{{ animal.hair_color }}</th>
        <th>{{ animal.birthday | date }}</th>
        <th>
          <button class="btn btn-info mx-1" routerLink="/dashboard/animal/detalles/{{ animal.id }}">
            <i class="fa-solid fa-circle-info"></i> Detalles
          </button>
          <button class="btn btn-info mx-1" routerLink="/dashboard/animal/editar/{{ animal.id }}">
            <i class="fa-solid fa-pen-to-square"></i> Editar
          </button>
          <delete-button [text]="'animal'" (deleteEvent)="ondelete(animal?.id)"></delete-button>
        </th>
      </tr>
    </tbody>


  </table>
  <div class="d-flex justify-content-center pt-2">
    <pagination-controls [responsive]="true" previousLabel="Anterior" nextLabel="Siguente" (pageChange)="p = $event">
    </pagination-controls>
  </div>
</div>
