<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="d-flex justify-content-start">
      <button
        class="btn btn-color p-3"
        routerLink="/dashboard/especies/listado"
      >
        <i class="fa-solid fa-chevron-left"></i> Volver
      </button>
    </div>

    <app-title-page [title]="'Editar Especie '"></app-title-page>

    <div class="col-lg-6 mt-5">
     <form class="card-1 p-4" [formGroup]="specieForm" (ngSubmit)="onSubmit()">
        <!-- 2 column grid layout with text inputs for the first and last names -->
        <div class="mb-3">
          <label class="form-label" for="name">Nombre</label>
          <input
            type="text"
            id="name"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['name'].errors }"
            formControlName="name"
          />
          <div
            *ngIf="submitted && f['name'].errors"
            class="invalid-feedback mt-0"
          >
            <p class="validation-error" *ngIf="f['name'].errors['required']">
              Debes especificar un Nombre.
            </p>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label" for="description">Descripcion</label>
          <textarea
            rows="4"
            id="description"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['description'].errors }"
            formControlName="description"
          >
          </textarea>

          <div
            *ngIf="submitted && f['description'].errors"
            class="invalid-feedback mt-0"
          >
            <p
              class="validation-error"
              *ngIf="f['description'].errors['required']"
            >
              Debes agregar una Descripcion.
            </p>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-color btn-block mb-4 p-3">
            <i class="fa-solid fa-floppy-disk"></i> Guardar Especie
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
