<div class="container-fluid mt-5">
  <div class="d-flex justify-content-start">
    <button class="btn btn-color p-3" routerLink="/dashboard/animal/list">
      <i class="fa-solid fa-chevron-left"></i> Volver
    </button>
  </div>
  <app-title-page [title]="'Detalles del animal'"></app-title-page>
  <div class="row justify-content-center">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col-4">
                <strong> EXPEDIENTE:</strong> #{{ animal.record }}
              </div>
              <div class="col-4">
                <strong> NOMBRE:</strong> {{ animal?.name }}
              </div>
              <div class="col-4 mb-3">
                <strong> SEXO:</strong
                >{{
                  animal.gender === "undefine"
                    ? "indefinido"
                    : animal.gender === "male"
                    ? "macho"
                    : "hembra"
                }}
              </div>
              <div class="col-4">
                <strong> COLOR PELO:</strong> {{ animal?.hair_color }}
              </div>
              <div class="col-4">
                <strong> ESPECIE:</strong> {{ animal?.specie?.name }}
              </div>
              <div class="col-4 mb-3">
                <strong> RAZA:</strong> {{ animal?.breed?.name }}
              </div>
              <div class="col-4">
                <strong> FECHA NACIMIENTO:</strong>
                {{ animal?.birthday | date }}
              </div>
              <div class="col-4 mb-2">
                <strong> FECHA DE INGRESO:</strong>
                {{ animal.created_at | date }}
              </div>
              <div class="col-12 mb-2 align-middle mt-4">
                <button
                  class="btn btn-info mx-1 p-3"
                  routerLink="/dashboard/users/detalles/1"
                >
                  <i class="fa-solid fa-gift"></i> Solicitar adopción
                </button>
                <button
                  class="btn btn-info mx-1 p-3"
                  routerLink="/dashboard/animal/consultation/{{ animal.id }}"
                >
                  <i class="fa-solid fa-user-doctor"></i> Consulta médica
                </button>
                <button
                  class="btn btn-info mx-1 p-3"
                  routerLink="/dashboard/users/evaluation"
                >
                  <i class="fa-solid fa-memo-circle-check"></i> Evaluación de
                  dueño
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-5">
    <div class="col-lg-12">
      <h4>Historial médico</h4>

      <app-list-history
        *ngFor="let consultation of consultations; let index = index"
        [index]="index + 1"
        [consultation]="consultation"
      ></app-list-history>
    </div>
  </div>
</div>
