<div class="container-fluid mt-5">
  <div class="d-flex justify-content-start">
    <button class="btn btn-color p-3" routerLink="/dashboard/users/listado">
      <i class="fa-solid fa-chevron-left"></i> Volver
    </button>
  </div>
  <app-title-page [title]="'Detalles de usuario'"></app-title-page>
  <div class="row justify-content-center mt-5">
    <div class="col-lg-10">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-3">
              <img
                src="./assets/images/usuarios.png"
                alt=""
                width="100"
                height="100"
                class="me-2"
              />
            </div>
            <div class="col-9">
              <div class="row col-12">
                <div class="col-6">
                  <strong> Usuario:</strong> {{ user.username }}
                </div>
                <div class="col-6">
                  <strong> NOMBRE:</strong> {{ user.name }}
                </div>
                <div class="col-6">
                  <strong> APELLIDOO:</strong> {{ user.lastName }}
                </div>
                <div class="col-6">
                  <strong> CÉDULA:</strong> {{ user.dni }}
                </div>
                <div class="col-6">
                  <strong> NÚMERO TLF:</strong>
                  {{ user.phone ? user.phone : "No Tiene" }}
                </div>
                <div class="col-6"><strong> PERFIL:</strong>{{ user.rol }}</div>
                <div class="col-6">
                  <strong> CORREO:</strong>
                  {{ user.email ? user.email : "No Tiene" }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
