<div class="card-3 px-5 py-5">
  <table class="table">
    <thead>
      <tr>
        <th *ngFor="let item of tableHead" scope="col">{{ item }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of tableBody">
        <th scope="row">item</th>
      </tr>
    </tbody>
  </table>
</div>
