
.btn-color {
  background-color: #008080;
  border: #008080;
  color: white;
  box-shadow: 0 14px 15px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 8px;
}
.card-3 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: 20px;
}
