<section class="">
  <div class="container-fluid mt-3">
    <app-title-page [title]="'Listado de animales'"></app-title-page>
    <div class="text-center my-2">
      <form class="row p-2">
        <div class="col-4">
        </div>
        <div class="col-4">
          <label for="inputPassword2" class="visually-hidden"></label>
          <input type="password" class="form-control" id="inputPassword2"
            placeholder="Introduzca el nombre del animal" />
        </div>
        <div class="col-4 d-flex justify-content-end">
          <button class="btn btn-color p-3 mt-3" routerLink="/dashboard/animal/agregar">
            <i class="fa-solid fa-circle-plus"></i> Agregar animal
          </button>
        </div>
      </form>
    </div>
    <!--<div class="text-center my-4">
      <p>
        "Cuando miras a los ojos de un animal rescatado, no puedes evitar
        enamorarte", Paul Shaffer.
      </p>
    </div><div class="d-flex justify-content-end">

    </div>
  -->
    <app-table-animal></app-table-animal>
  </div>
</section>
