<div class="container mt-3">
  <div class="row justify-content-center">
    <app-title-page [title]="'Gestión de especies'"></app-title-page>
    <div class="text-center mt-4">
      <form class="row p-2">

        <div class="col-4">
          <label for="staticEmail2" class="visually-hidden">Email</label>
          <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Nombre de  la especie:">
        </div>
        <div class="col-4">
          <label for="inputPassword2" class="visually-hidden"></label>
          <input type="password" class="form-control" id="inputPassword2"
            placeholder="Introduzca el nombre de la especie">
        </div>
        <div class="col-4 d-flex justify-content-end">
          <button class="btn btn-color p-3" routerLink="/dashboard/especies/agregar">
            <i class="fa-solid fa-circle-plus"></i> Agregar Especie
          </button>
        </div>

      </form>
    </div>
    <div class="col-lg-12 my-4">
      <app-table-specie></app-table-specie>
    </div>
  </div>
</div>
