
<section class="">
    <div class="container-fluid ">
        <div class="text-center mb-4 mt-2">
            <h1>Borrado de animales</h1>
        </div>
        <div class="text-center my-4">
            <h5>Para borrar a un animal, presione Eliminar</h5>
        </div>
       
        <table class="table table-hover  table-sm align-middle my-4">
            <thead class="table  ">
                <tr>
                <th scope="col">EXPEDIENTE</th>
                <th scope="col">NOMBRE</th>
                <th scope="col">RAZA</th>
                <th scope="col">ESPECIE</th>
                <th scope="col">NACIMIENTO</th>
                <th scope="col">RESCATE</th>
                <th scope="col"></th>  
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><strong>#58945435</strong></td>
                    <td>DOBY</td>
                    <td>PERRO</td>
                    <td>Pastor alemán</td>
                    <td>10-10-2021</td>
                    <td>15-02-2022</td>
                    <td><button type="button" class="btn btn-primary">Eliminar</button></td>
                </tr>
                <tr>
                  <td><strong>#58945435</strong></td>
                  <td>DOBY</td>
                  <td>PERRO</td>
                  <td>Pastor alemán</td>
                  <td>10-10-2021</td>
                  <td>15-02-2022</td>
                  <td><button type="button" class="btn btn-primary">Eliminar</button></td>
                </tr>
                <tr>
                    <td><strong>#58945435</strong></td>
                    <td>DOBY</td>
                    <td>PERRO</td>
                    <td>Pastor alemán</td>
                    <td>10-10-2021</td>
                    <td>15-02-2022</td>
                    <td><button type="button" class="btn btn-primary">Eliminar</button></td>
                </tr>
                <tr>
                    <td><strong>#58945435</strong></td>
                    <td>DOBY</td>
                    <td>PERRO</td>
                    <td>Pastor alemán</td>
                    <td>10-10-2021</td>
                    <td>15-02-2022</td>
                    <td><button type="button" class="btn btn-primary">Eliminar</button></td>
                </tr>
            </tbody>
        </table>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Actualización de oferta</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="mb-3 px-3 align-middle">
                        <b>Empleo:           </b>#58945435<br>
                        <b>Tema:             </b>Servicio técnico<br>
                        <b>Tópico:           </b>Computadoras<br>
                        <b>Demanda actual:  </b>
                        <b>Contenido:        </b>HP, DELL,SIRAGON,LENOVO<br>
                        <b>Horario:          </b>de 8am a 4pm<br>
                        <b>Demanda anterior: </b>2<br>
                        <b>Demanda actual:  </b>
                        <label for="recipient-name" class="col-form-label"><input type="text" class="form-control" id="recipient-name"></label> 
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary"  data-bs-dismiss="modal">Actualizar</button>
                </div>
              </div>
            </div>
          </div>

    </div>
</section>
