thead {
    height: 30px !important;
    background-color: #74c2ca;
  }
  
  h1 {
    background-color: #f0f0f0;
  }
  
  .btn-primary {
    background-color: #008080;
    border: #008080;
  }
  
  .mat-form-field {
    margin-top: 16px;
    font-size: 20px;
  }
  .example-full-width {
    width: 100%;
  }
  