<div class="container-fluid ">
    <div class="text-center mb-4 mt-2">
        <h1>Consulta veterinaria</h1>
    </div>
    <!--
    <div class="text-center my-4">
        <h5>Para actualizar los datos médicos del animal, búsquelo primero </h5>
    </div>
    <div class="text-center my-4">
        <form class="row">
            <div class="col-4">
              <label for="staticEmail2" class="visually-hidden">Email</label>
              <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Expediente del Animal:">
            </div>
            <div class="col-4">
              <label for="inputPassword2" class="visually-hidden"></label>
              <input type="password" class="form-control" id="inputPassword2" placeholder="Introduzca expediente #58954352">
            </div>
            <div class="col-4">
              <button type="submit" class="btn btn-primary mb-3">Buscar expediente</button>
            </div>
          </form>
    </div>
    <hr>
        <div class="row">
            <div class="col-4">
                <strong> EXPEDIENTE:</strong> #58954352
            </div>
            <div class="col-4">
                <strong> NOMBRE:</strong> Doby
            </div>
            <div class="col-4 mb-3">
                <strong> SEXO:</strong> M
            </div>
            <div class="col-4">
                <strong> COLOR PELO:</strong> Marrón
            </div>
            <div class="col-4">
                <strong> ESPECIE:</strong> Perro
            </div>
            <div class="col-4 mb-3">
                <strong> RAZA:</strong> Pastor alemán
            </div>
            <div class="col-4">
                <strong> FECHA NACIMIENTO:</strong> 2019-05-02
            </div>
            <div class="col-4">
                <strong> FECHA RESCATE:</strong> 2021-06-04
            </div>
            <div class="col-4 mb-2">
                <strong> FECHA ULT CONSULTA:</strong> HOY
            </div>
        </div>
    <hr>
    -->
    <div class="text-center my-4">
        <form class="row">
            <div class="col-6">
              <label for="staticEmail2" class="visually-hidden">Peso del animal</label>
              <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Peso del Animal:">
            </div>
            <div class="col-6 mb-1">
              <label for="inputPassword2" class="visually-hidden"></label>
              <input type="password" class="form-control" id="inputPassword2" placeholder="Introduzca el peso en kg">
            </div>
            <div class="col-6">
                <label for="staticEmail2" class="visually-hidden">Diagnóstico</label>
                <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Diagnótico/observaciones">
              </div>
              <div class=" col-6 mb-3">
                <label for="exampleFormControlTextarea1" class="form-label"></label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" 
                placeholder="Ingrese datos, observaciones y cualquier información que considere pertiente"></textarea>
              </div>
            <hr>
 
            <div class="col-4">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      Cuidados aplicados
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-4">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Enfermedades diagnosticadas
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-4">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      Vacunas suministradas
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-12 justify-content-end mt-3">
                <button type="submit" class="btn btn-primary mb-3">Actualizar historial </button>
            </div>
          </form>
    </div>

</div>   