<div class="alert alert-primary mt-2 text-center">
    <h6>Cargando</h6>
    <span>Espere por favor...</span>

</div>

<ul class="list-group mt-2">
    <li class="list-group-item list-group-action pointer"></li>
    <h6>Lugar</h6>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
        Unde quia neque dignissimos praesentium porro minus ab? Veniam quia
         incidunt dolorem et voluptatibus, ullam corporis odit libero repudiandae
          enim? Quas, doloribus?
    </p>
    <button class="btn btn-sm btn-outline">
        Direcciones
    </button>

</ul>