<div class="sidebar px-3 pt-3 pb-5">
  <h2>
    <i class="fa-solid fa-paw"></i>
    <span class="fs-5 mx-2"> Fundación Patitas</span>
  </h2>
  <hr />
  <ul class="nav flex-column mb-auto">
    <li>
      <a routerLink="/dashboard/users/welcome" class="nav-link p-3">
        <i class="fa-solid fa-house"></i>
        Inicio
      </a>
    </li>
    <li>
      <a routerLink="/dashboard/animal/list" class="nav-link p-3">
        <i class="fa-solid fa-bone"></i>
        Animales
      </a>
    </li>
    <li>
      <a routerLink="/dashboard/cuidados/listado" class="nav-link p-3">
        <i class="fa-solid fa-hands-holding-child"></i>
        Cuidados
      </a>
    </li>
    <li>
      <a routerLink="/dashboard/vacunas/listado" class="nav-link p-3">
        <i class="fa-solid fa-syringe"></i>
        Vacunas
      </a>
    </li>
    <li>
      <a routerLink="/dashboard/enfermedades/listado" class="nav-link p-3">
        <i class="fa-solid fa-virus-covid"></i>
        Enfermedades
      </a>
    </li>
    <li>
      <a routerLink="/dashboard/especies/listado" class="nav-link p-3">
        <i class="fa-solid fa-shield-dog"></i> Especies
      </a>
    </li>
    <li>
      <a routerLink="/dashboard/razas/listado" class="nav-link p-3">
        <i class="fa-solid fa-shield-cat"></i>
        Razas
      </a>
    </li>
    <!--<li>
    <li>
      <a routerLink="/dashboard/users/working-users" class="nav-link p-2">
        <i class="fa-solid fa-briefcase"></i>
        Trabajadores
      </a>
    </li>
    </li>-->
    <a routerLink="/dashboard/maps" class="nav-link p-3">
      <i class="fa-solid fa-user"></i>
      Mapa
    </a>

    <li>
      <a routerLink="/dashboard/users/listado" class="nav-link p-3">
        <i class="fa-solid fa-user-gear"></i>
        Usuarios
      </a>
    </li>
    <!--<li>
      <a routerLink="/dashboard/users/atentiones" class="nav-link p-3">
        <img
          src="./assets/images/configurar.png"
          alt=""
          width="20"
          height="20"
          class="me-2"
        />
        Atenciones
      </a>
    </li>
    <li>
      <a routerLink="/dashboard/users/consultation" class="nav-link p-2">
        <i class="fa-solid fa-user-doctor"></i>
        Consulta
      </a>
    </li>
    <li>
      <a routerLink="/dashboard/animal/history" class="nav-link p-2">
        <i class="fa-solid fa-book-medical"></i>
        Historial
      </a>
    </li>

    <li>

      <a routerLink="/dashboard/users/possible-owner" class="nav-link p-3">
        <i class="fa-solid fa-gift"></i>
        Interesados
      </a>
    </li>

    <li>
      <a routerLink="/dashboard/users/evaluation" class="nav-link p-3">
        <i class="fa-solid fa-address-card"></i>
        Evaluación
      </a>
    </li>
    <li>
      <a routerLink="/dashboard/users/visit" class="nav-link p-3">
        <i class="fa-solid fa-eye"></i>
        Visita
      </a>
    </li>
      -->
    <li>
      <a routerLink="/auth/sign-in" (click)="logout()" class="nav-link p-3">
        <i class="fa-solid fa-right-from-bracket"></i>
        Salir
      </a>
    </li>
  </ul>

</div>
