.sidebar {
  background-color: #008080;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  height: 100vh;
}

hr {
  color: #e7f6fc;
}

p {
  text-align: right;
  font-weight: bold;
}

.nav-link {
  color: #fff;
}

.nav-link:hover {
  color: #ffffff;
  background-color: #220490;
  border-radius: 15px;
}

h1 {
  color: #000;
}

.i {
  margin-right: 0px;
}
