<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-10 ">
      <div class="d-flex justify-content-center">

        <img class="image" src="/assets/images/svgs/AdoptApet-bro.svg" alt="img-home" />

      </div>
    </div>
  </div>
</div>
