<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="/assets/images/svgs/Animal shelter-pana.svg" class="img-fluid" alt="Sample image" />
      </div>

      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
            <h5 class="mb-0 me-3">¡El bienestar de los animales es primero!</h5>
          </div>

          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0"></p>
          </div>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="email">Correo electrónico</label>
            <input formControlName="email" type="email" id="email" class="form-control form-control-lg"
              placeholder="Introduzca dirección de correo electrónico"
              [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" required value="admin@admin.com" />
            <div *ngIf="submitted && f['email'].errors" class="invalid-feedback mt-0">
              <p class="validation-error" *ngIf="f['email'].errors['required']">
                El correo electrónico es requerido.
              </p>
            </div>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <label class="form-label" for="password">Contraseña</label>
            <input type="password" formControlName="password" id="password" class="form-control form-control-lg"
              placeholder="Introduzca contraseña" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
              required value="12345678" />
            <div *ngIf="submitted && f['password'].errors" class="invalid-feedback mt-0">
              <p class="validation-error" *ngIf="f['password'].errors['required']">
                El contraseña es requerida.
              </p>
            </div>
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <!-- Checkbox -->
            <div class="form-check mb-">
              <input class="form-check-input me-2" type="checkbox" formControlName="remember" id="remember" />
              <label class="form-check-label" for="remember">
                Recuérdame
              </label>
            </div>
            <!--<a href="#!" class="text-body">Olvidaste tu contraseña?</a>-->
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem"
              routerLinkActive="router-link-active">
              Iniciar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
