
.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}


.img-fluid{
    border-radius: 10px;
}

.btn-primary{
    background-color: #008080;
    border: #008080;

}

h5{
  font-size: 21px;
    height: 40px;
    color: #008080 ;
    background-color: #f0f0f0;
}
    .lead{
        border: #008080;
    }
input{
    border-color: #008080;
}
    placeholder{
        color: #74c2ca;
    }
.footer{
    background-color: #008080;

}