<section class="">
  <div class="container-fluid mt-5">
    <div class="d-flex justify-content-start">
      <button class="btn btn-color p-3" routerLink="/dashboard/animal/list">
        <i class="fa-solid fa-chevron-left"></i> Volver
      </button>
    </div>
    <app-title-page [title]="'Editar   Rescates'"></app-title-page>
    <div class="text-center my-4">
      <p>
        "Todos los campos son obligatorios. De poseer la información requerida,
        ingresar: desconociddo"
      </p>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-12">
        <mat-stepper linear #stepper class="card-1 p-4">
          <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup" class="mt-3">
              <ng-template matStepLabel>Datos del animal</ng-template>
              <div class="mb-5">
                <label for="exampleFormControlInput1" class="form-label"
                  >Nombre</label
                >
                <input
                  formControlName="nombreAnimal"
                  type="text"
                  class="form-control"
                  id="exampleFormControlInput1"
                  placeholder="Introduzca el nombre del animal"
                />
              </div>
              <div class="row mb-5">
                <div class="col-md-4">
                  <div class="mb-3">
                    <label for="exampleFormControlInput2" class="form-label"
                      >Sexo</label
                    >
                    <select
                      class="form-select"
                      aria-label=" select-sex"
                      formControlName="sexoAnimal"
                    >
                      <option value="1">macho</option>
                      <option value="2">hembra</option>
                      <option value="3">indefinido</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="mb-3">
                    <label for="exampleFormControlInput6" class="form-label"
                      >Peso</label
                    >
                    <input
                      formControlName="pesoAnimal"
                      type="number"
                      class="form-control"
                      id="exampleFormControlInput6"
                      placeholder="Introduzca el peso del animal"
                    />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="mb-3">
                    <label for="exampleFormControlInput4" class="form-label"
                      >Fecha de nacimiento</label
                    >
                    <input
                      formControlName="fechaNacimiento"
                      type="date"
                      class="form-control"
                      id="exampleFormControlInput5"
                      placeholder="Introduzca la fecha de fecha nacimiento del animal"
                    />
                  </div>
                </div>
              </div>
              <div class="row mb-5">
                <div class="col-md-4">
                  <div class="mb-3">
                    <label for="exampleFormControlInput3" class="form-label"
                      >Color de pelo</label
                    >
                    <input
                      formControlName="colorPeloAnimal"
                      type="text"
                      class="form-control"
                      id="exampleFormControlInput3"
                      placeholder="Introduzca el color de pelo del animal"
                    />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="mb-3">
                    <label for="exampleFormControlInput7" class="form-label"
                      >Especie</label
                    >
                    <input
                      formControlName="especieAnimal"
                      type="text"
                      class="form-control"
                      id="exampleFormControlInput7"
                      placeholder="Introduzca la especie del animal"
                    />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="mb-3">
                    <label for="exampleFormControlInput8" class="form-label"
                      >Raza</label
                    >
                    <input
                      formControlName="razaAnimal"
                      type="text"
                      class="form-control"
                      id="exampleFormControlInput8"
                      placeholder="Introduzca la raza del animal"
                    />
                  </div>
                </div>
              </div>

              <div class="d-flex justify-content-end mt-3">
                <button class="btn btn-primary p-3" matStepperNext>
                  Siguente <i class="fa-solid fa-angle-right"></i>
                </button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup" class="mt-3">
              <ng-template matStepLabel>Sitio de rescate </ng-template>
              <div class="row mb-5">
                <div class="col-lg-4">
                  <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label"
                      >Estado</label
                    >
                    <input
                      formControlName="estadoRescate"
                      type="text"
                      class="form-control"
                      id="exampleFormControlInput1"
                      placeholder="Introduzca el estado en el que se hizo el rescate"
                    />
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="mb-3">
                    <label for="exampleFormControlInput2" class="form-label">
                      Ciudad</label
                    >
                    <input
                      formControlName="ciudadRescate"
                      type="text"
                      class="form-control"
                      id="exampleFormControlInput2"
                      placeholder="Introduzca el la ciudad en la que se llevo a cabo el rescate"
                    />
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="mb-3">
                    <label for="exampleFormControlInput3" class="form-label"
                      >Calle</label
                    >
                    <input
                      formControlName="calleRescate"
                      type="text"
                      class="form-control"
                      id="exampleFormControlInput3"
                      placeholder="Introduzca la calle del rescate"
                    />
                  </div>
                </div>
              </div>
              <div class="row mb-5">
                <div class="col-md-4">
                  <div class="mb-3">
                    <label for="exampleFormControlInput4" class="form-label"
                      >Número de casa</label
                    >
                    <input
                      formControlName="NumeroCasa"
                      type="text"
                      class="form-control"
                      id="exampleFormControlInput5"
                      placeholder="Introduzca el número de casa del rescate"
                    />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="mb-3">
                    <label for="exampleFormControlInput6" class="form-label"
                      >Código postal</label
                    >
                    <input
                      formControlName="codigoPostal"
                      type="text"
                      class="form-control"
                      id="exampleFormControlInput6"
                      placeholder="Introduzca el código postal acorde a la zona"
                    />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="mb-5">
                    <label for="exampleFormControlInput7" class="form-label"
                      >Fecha del rescate</label
                    >
                    <input
                      formControlName="fechaRescate"
                      type="text"
                      class="form-control"
                      id="exampleFormControlInput7"
                      placeholder="Introduzca la fecha en la que se realizo el rescate"
                    />
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput7" class="form-label"
                  >Lugar de referencia</label
                >
                <input
                  formControlName="lugarReferencia"
                  type="text"
                  class="form-control"
                  id="exampleFormControlInput7"
                  placeholder="Introduzca algún lugar de referencia"
                />
              </div>

              <div class="d-flex justify-content-end mt-3">
                <button class="btn btn-primary p-3 mx-1" matStepperPrevious>
                  <i class="fa-solid fa-angle-left"></i> Volver
                </button>
                <button class="btn btn-primary p-3 mx-1" matStepperNext>
                  Siguente <i class="fa-solid fa-angle-right"></i>
                </button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="thirdFormGroup">
            <form [formGroup]="thirdFormGroup" class="mt-3">
              <ng-template matStepLabel>Rescatista</ng-template>
              <div class="row mb-5">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label"
                      >Nombre</label
                    >
                    <input
                      formControlName="nombreRescatista"
                      type="text"
                      class="form-control"
                      id="exampleFormControlInput1"
                      placeholder="Introduzca el nombre de la persona/institución que realizó el rescate"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="exampleFormControlInput2" class="form-label"
                      >Apellido</label
                    >
                    <input
                      formControlName="apellidoRescatista"
                      type="text"
                      class="form-control"
                      id="exampleFormControlInput2"
                      placeholder="Introduzca el apellido de la persona/institución que realizó el rescate"
                    />
                  </div>
                </div>
              </div>
              <div class="row mb-5">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="exampleFormControlInput3" class="form-label"
                      >Cédula</label
                    >
                    <input
                      formControlName="cedularescatista"
                      type="text"
                      class="form-control"
                      id="exampleFormControlInput3"
                      placeholder="Introduzca la cédula del rescatista"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="exampleFormControlInput4" class="form-label"
                      >Número telefónico</label
                    >
                    <input
                      formControlName="numeroRescatista"
                      type="text"
                      class="form-control"
                      id="exampleFormControlInput5"
                      placeholder="Introduzca el número de teléfono del rescatista"
                    />
                  </div>
                </div>
              </div>

              <div class="mb-5">
                <label for="exampleFormControlInput6" class="form-label"
                  >Correo</label
                >
                <input
                  formControlName="correoRescatista"
                  type="text"
                  class="form-control"
                  id="exampleFormControlInput6"
                  placeholder="Introduzca el correo electrónico del reescatista"
                />
              </div>
              <div class="d-flex justify-content-end mt-3">
                <button class="btn btn-primary p-3 mx-1" matStepperPrevious>
                  <i class="fa-solid fa-angle-left"></i> Volver
                </button>
                <button class="btn btn-primary p-3 mx-1" matStepperNext>
                  Guardar <i class="fa-solid fa-floppy-disk"></i>
                </button>
              </div>
            </form>
          </mat-step>
        </mat-stepper>
      </div>
    </div>
  </div>
</section>
