
<div class="search-container">
    <input
        type="text"
        class="form-control"
        placeholder="buscar-lugar.."
        #txtQuery
        (kkeyup)="onQueryChanged(txtQuery.value)"
    >
    <app-search-results></app-search-results>
</div>