.search-container{
    background-color:white;
    border-radius: 1px solid rgba (0,0,0,0,1);
    box-shadow: 0px 10px 10px rgb(0,0,0,0.1);
    left: 17%;
    padding: 5px;
    padding:5px;
    position: fixed;
    top:5px;
    width: 270px;
}