<div class="card-3 px-5 py-5">
  <table class="table">
    <thead>
      <tr class="text-center">
        <th scope="col">Nombre</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let disease of diseases | paginate: { itemsPerPage: 5, currentPage: p }" class="text-center">
        <th>{{ disease.name }}</th>
        <th>{{ disease.description }}</th>
        <th>
          <button class="btn btn-info mx-1" routerLink="/dashboard/enfermedades/editar/{{ disease.id }}">
            <i class="fa-solid fa-pen-to-square"></i>editar
          </button>
          <delete-button [text]="'enfermedad'" (deleteEvent)="ondelete(disease?.id)"></delete-button>
        </th>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-center pt-2">
    <pagination-controls [responsive]="true" previousLabel="Anterior" nextLabel="Siguente" (pageChange)="p = $event">
    </pagination-controls>
  </div>
</div>
