<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="d-flex justify-content-start">
      <button
        class="btn btn-color p-3"
        routerLink="/dashboard/animal/detalles/{{ animalId }}"
      >
        <i class="fa-solid fa-chevron-left"></i> Volver
      </button>
    </div>

    <app-title-page [title]="'Consulta médica'"></app-title-page>

    <div class="col-lg-12 mt-5">
      <form class="card-1 p-4" [formGroup]="form" (ngSubmit)="onSave()">
        <!-- 2 column grid layout with text inputs for the first and last names -->
        <div class="row mb-4">
          <div class="col-2">
            <div class="form-outline">
              <label class="form-label" for="peso">Peso Actual</label>
              <input
                formControlName="weight"
                type="number"
                id="peso"
                class="form-control"
                [ngClass]="{
                  'is-invalid': submitted && f['weight'].errors
                }"
              />
              <div
                *ngIf="submitted && f['weight'].errors"
                class="invalid-feedback mt-0"
              >
                <p
                  class="validation-error"
                  *ngIf="f['weight'].errors['required']"
                >
                  Debes especificar un peso.
                </p>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="form-outline">
              <label class="form-label" for="peso">Fecha de la consulta</label>
              <input
                formControlName="date"
                type="date"
                id="peso"
                class="form-control"
                [ngClass]="{
                  'is-invalid': submitted && f['date'].errors
                }"
              />
              <div
                *ngIf="submitted && f['date'].errors"
                class="invalid-feedback mt-0"
              >
                <p
                  class="validation-error"
                  *ngIf="f['date'].errors['required']"
                >
                  Seleccione la fecha actual.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="form-outline col-12">
            <label class="form-label" for="description">Obsevaciones</label>
            <textarea
              formControlName="observations"
              class="form-control"
              id="description"
              rows="6"
              [ngClass]="{
                'is-invalid': submitted && f['observations'].errors
              }"
            ></textarea>

            <div
              *ngIf="submitted && f['observations'].errors"
              class="invalid-feedback mt-0"
            >
              <p
                class="validation-error"
                *ngIf="f['observations'].errors['required']"
              >
                debe agregar una observacion del paciente.
              </p>
            </div>
          </div>
        </div>
        <!-- Text input -->
        <div class="row mb-5">
          <h5 for="care">Cuidados aplicados</h5>
          <div class="row justify-content-center mb-5">
            <div class="col-lg-6">
              <div class="d-flex">
                <input
                  id="care"
                  type="text"
                  placeholder="Buscar cuidado por nombre"
                  [formControl]="careControl"
                  class="form-control"
                  [matAutocomplete]="care"
                />
                <mat-autocomplete
                  id="care"
                  (optionSelected)="selectCare($event)"
                  autoActiveFirstOption
                  #care="matAutocomplete"
                >
                  <mat-option
                    id="care"
                    *ngFor="let care of careOptions | async"
                    [value]="care"
                  >
                    {{ care.name }}
                  </mat-option>
                </mat-autocomplete>
              </div>
            </div>
          </div>
          <!-- Lista de Juegos Favoritos -->
          <div class="mb-3 row justify-content-center" *ngIf="cares.length">
            <div class="col-lg-4">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Accion</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let care of cares; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ care.name }}</td>
                    <td>
                      <button
                        (click)="removeCare(care)"
                        class="text-danger btn"
                        style="cursor: pointer"
                      >
                        <i class="fa-solid fa-trash-can"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row mb-5">
          <div class="form-outline">
            <h5 for="disease">Enfermedades diagnósticadas</h5>
            <div class="row justify-content-center mb-5">
              <div class="col-lg-6">
                <div class="d-flex">
                  <input
                    id="disease"
                    type="text"
                    placeholder="Buscar enfermedad por nombre"
                    [formControl]="diseaseControl"
                    class="form-control"
                    [matAutocomplete]="disease"
                  />
                  <mat-autocomplete
                    [id]="'disease'"
                    (optionSelected)="selectDisease($event)"
                    autoActiveFirstOption
                    #disease="matAutocomplete"
                  >
                    <mat-option
                      *ngFor="let disease of diseaseOptions | async"
                      [id]="'disease'"
                      [value]="disease"
                    >
                      {{ disease.name }}
                    </mat-option>
                  </mat-autocomplete>
                </div>
              </div>
            </div>
            <div
              class="mb-3 row justify-content-center"
              *ngIf="diseases.length"
            >
              <div class="col-lg-4">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Nombre</th>
                      <th scope="col">Accion</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let disease of diseases; let i = index">
                      <td>{{ i + 1 }}</td>
                      <td>{{ disease.name }}</td>
                      <td>
                        <button
                          (click)="removeDisease(disease)"
                          class="text-danger btn"
                          style="cursor: pointer"
                        >
                          <i class="fa-solid fa-trash-can"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-5">
          <div class="form-outline">
            <h5 for="description">Vacunas suministradas</h5>
            <div class="row justify-content-center mb-5">
              <div class="col-lg-6">
                <div class="d-flex">
                  <input
                    id="disease"
                    type="text"
                    placeholder="Buscar vacuna por nombre"
                    [formControl]="vaccineControl"
                    class="form-control"
                    [matAutocomplete]="vaccine"
                  />
                  <mat-autocomplete
                    [id]="'disease'"
                    (optionSelected)="selectVaccine($event)"
                    autoActiveFirstOption
                    #vaccine="matAutocomplete"
                  >
                    <mat-option
                      *ngFor="let vaccine of vaccineOptions | async"
                      [id]="'disease'"
                      [value]="vaccine"
                    >
                      {{ vaccine.name }}
                    </mat-option>
                  </mat-autocomplete>
                </div>
              </div>
            </div>
            <div
              class="mb-3 row justify-content-center"
              *ngIf="vaccines.length"
            >
              <div class="col-lg-4">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Nombre</th>
                      <th scope="col">Accion</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let vaccine of vaccines; let i = index">
                      <td>{{ i + 1 }}</td>
                      <td>{{ vaccine.name }}</td>
                      <td>
                        <button
                          (click)="removeVaccine(vaccine)"
                          class="text-danger btn"
                          style="cursor: pointer"
                        >
                          <i class="fa-solid fa-trash-can"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- Submit button -->
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-color btn-block my-4 p-3">
            <i class="fa-solid fa-floppy-disk"></i> Guardar consulta
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
