<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="d-flex justify-content-start">
        <button
          class="btn btn-color p-3"
          routerLink="/dashboard/users/evaluation"
        >
          <i class="fa-solid fa-chevron-left"></i> Volver
        </button>
      </div>
  
      <app-title-page [title]="'Agregar visita '"></app-title-page>
  
      <div class="col-lg-6 mt-5">
        <form class="card-1 p-4">
          <!-- 2 column grid layout with text inputs for the first and last names -->
          <div class="mb-3">
            <label class="form-label" for="name">Nombre del supervisor</label>
            <input type="text" id="name" class="form-control" />
          </div>
          <div class="mb-3">
            <label class="form-label" for="description">Diagnóstico de supervisor</label>
            <textarea rows="8" id="description" class="form-control"></textarea>
          </div>
          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-color-2 btn-block mb-4 p-3">
              <i class="fa-solid fa-floppy-disk"></i> Guardar visita
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  