<div class="card-3 px-5 py-5 table-responsive">
  <table class="table">
    <thead>
      <tr class="text-center">
        <th scope="col">Usuario</th>
        <th scope="col">Alias</th>
        <th scope="col">Rol</th>
        <th scope="col">Correo</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody class="align-middle">
      <tr *ngFor="let user of users | paginate: { itemsPerPage: 5, currentPage: p }" class="text-center">
        <th>
          <img src="./assets/images/usuarios.png" alt="" width="20" height="20" class="me-2" />
          {{ user.name }} {{ user.lastName }}
        </th>
        <th>{{ user.username }}</th>
        <th>{{ user.rol }}</th>
        <th>{{ user.email }}</th>
        <th>
          <button class="btn btn-info mx-1" routerLink="/dashboard/users/detalles/{{ user.id }}">
            <i class="fa-solid fa-circle-info"></i> Detalles
          </button>
          <button class="btn btn-info mx-1" routerLink="/dashboard/users/editar/{{ user.id }}">
            <i class="fa-solid fa-pen-to-square"></i> Editar
          </button>
          <delete-button [text]="'user'" (deleteEvent)="ondelete(user?.id)"></delete-button>
        </th>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-center pt-2">
    <pagination-controls [responsive]="true" previousLabel="Anterior" nextLabel="Siguente" (pageChange)="p = $event">
    </pagination-controls>
  </div>
</div>
