<app-loading *ngIf="!isUserLocationReady; else mapReady"></app-loading>
<ng-template #mapReady>
  <app-map-view (locationEvent)="sendLocation($event)"></app-map-view>
  <app-btn-my-location></app-btn-my-location>
  <!--<app-search-bar></app-search-bar>-->
</ng-template>

<!--<app-logo></app-logo>-->
