<mat-expansion-panel class="mt-5">
  <mat-expansion-panel-header>
    <mat-panel-title> Consulta número: #{{ index }}</mat-panel-title>
    <mat-panel-description> </mat-panel-description>
  </mat-expansion-panel-header>
  <div class="container my-5">
    <div class="row">
      <div class="col-6 mb-5">
        <h3>Codigo de consulta:</h3>
        {{ consultation?.record }}kg
      </div>
      <div class="col-6 mb-5 text-end">
        <h3>Fecha: {{ consultation?.date | date }}</h3>
      </div>
      <div class="col-12 mb-5">
        <h3>Peso Consulta:</h3>
        {{ consultation?.weight }}kg
      </div>
      <div class="col-12 mb-2">
        <h3>Observaciones:</h3>
        <br />
        {{ consultation?.observations }}
      </div>
      <div class="col-12 mb-5">
        <h3>Cuidados aplicados:</h3>
        <ul>
          <li *ngFor="let care of consultation?.cares">
            <p>{{ care.name ? care.name : "Sin cuidados aplicados" }}</p>
          </li>
        </ul>
      </div>
      <div class="col-12 mb-5">
        <h3>Enfermedades diagnósticadas:</h3>
        <ul>
          <li *ngFor="let disease of consultation?.diseases">
            <p>
              {{
                disease.name ? disease.name : "Sin Enfermedades diasnosticadas"
              }}
            </p>
          </li>
        </ul>
      </div>
      <div class="col-12 mb-5">
        <h3>Vacunas suministradas:</h3>
        <ul>
          <li *ngFor="let vaccine of consultation?.vaccines">
            <p>
              {{ vaccine.name ? vaccine.name : "Sin Vacunas aplicadas" }}
            </p>
          </li>
        </ul>
      </div>
      <div class="col-lg-12">
        <h3>Medico tratante:</h3>

        <table>
          <tr>
            <td class="mx-2" style="padding: 0 5px; width: 40%">
              <span>
                Nombre: {{ consultation?.doctor?.name }}
                {{ consultation?.doctor?.lastName }}</span
              >
            </td>
            <td class="mx-2" style="padding: 0 5px; width: 40%">
              <span> Cedula: {{ consultation?.doctor?.dni }}</span>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</mat-expansion-panel>
