<section class="">
  <div class="container-fluid mt-5">
    <div class="d-flex justify-content-start">
      <button class="btn btn-color p-3" routerLink="/dashboard/users/listado">
        <i class="fa-solid fa-chevron-left"></i> Volver
      </button>
    </div>
    <app-title-page [title]="'Editar Usuario '"></app-title-page>
    <div class="text-center my-4">
      <p>
        "Todos los campos son obligatorios. De poseer la información requerida,
        ingresar: N/A"
      </p>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-12">
        <mat-stepper linear #stepper class="card-1 p-4">
          <mat-step [stepControl]="userForm">
            <form
              [formGroup]="userForm"
              (ngSubmit)="onSubmit()"
              class="mt-3"
              autocomplete="off"
            >
              <ng-template matStepLabel>Datos de usuario</ng-template>
              <div class="row mb-4">
                <div class="col-md-6">
                  <label for="name" class="form-label">Nombre</label>
                  <input
                    formControlName="name"
                    type="text"
                    class="form-control"
                    id="name"
                    placeholder="Introduzca el nombre completo del usuario"
                    [ngClass]="{ 'is-invalid': submitted && f['name'].errors }"
                  />
                  <div
                    *ngIf="submitted && f['name'].errors"
                    class="invalid-feedback mt-0"
                  >
                    <p
                      class="validation-error"
                      *ngIf="f['name'].errors['required']"
                    >
                      Debes especificar un Nombre.
                    </p>
                  </div>
                </div>
                <div class="col-md-6">
                  <label for="lastName" class="form-label">Apellido</label>
                  <input
                    formControlName="lastName"
                    type="text"
                    class="form-control"
                    id="exampleFormControlInput2"
                    placeholder="Introduzca el apellido del usuario"
                    [ngClass]="{
                      'is-invalid': submitted && f['lastName'].errors
                    }"
                  />
                  <div
                    *ngIf="submitted && f['lastName'].errors"
                    class="invalid-feedback mt-0"
                  >
                    <p
                      class="validation-error"
                      *ngIf="f['lastName'].errors['required']"
                    >
                      Debes especificar un Apellido.
                    </p>
                  </div>
                </div>
              </div>
              <div class="row mb-5">
                <div class="col-md-4">
                  <label for="dni" class="form-label">Cédula</label>
                  <input
                    formControlName="dni"
                    type="text"
                    class="form-control"
                    id="dni"
                    placeholder="Introduzca la cédula del usuario"
                    [ngClass]="{
                      'is-invalid': submitted && f['dni'].errors
                    }"
                    [ngClass]="{
                      'is-invalid': f['dni'].touched && f['dni'].errors
                    }"
                  />
                  <div
                    *ngIf="f['dni'].touched && f['dni'].errors"
                    class="invalid-feedback mt-0"
                  >
                    <p
                      class="validation-error"
                      *ngIf="f['dni'].errors['dniFound']"
                    >
                      Esta cedula ya se encuentra registrada.
                    </p>
                  </div>
                  <div
                    *ngIf="submitted && f['dni'].errors"
                    class="invalid-feedback mt-0"
                  >
                    <p
                      class="validation-error"
                      *ngIf="f['dni'].errors['required']"
                    >
                      Debes especificar una cedula.
                    </p>
                  </div>
                </div>
                <div class="col-md-4">
                  <label for="phone" class="form-label"
                    >Número telefónico</label
                  >
                  <input
                    formControlName="phone"
                    type="text"
                    class="form-control"
                    id="phone"
                    placeholder="Introduzca el número de teléfono del usaurio"
                  />
                </div>
                <div class="col-md-4">
                  <label for="rol" class="form-label"
                    >Perfil dentro del sistema</label
                  >
                  <select
                    formControlName="rol"
                    class="form-select"
                    aria-label="select-rol"
                    id="rol"
                    [ngClass]="{
                      'is-invalid': submitted && f['dni'].errors
                    }"
                  >
                    <option [ngValue]="null" selected disabled>
                      Seleccione un rol
                    </option>
                    <option [value]="'doctor'">Doctor veterinario</option>
                    <option [value]="'worker'">Trabajador</option>
                    <option [value]="'assitent'">Assistente</option>
                    <option [value]="'user'">Usuario natural</option>
                  </select>

                  <div
                    *ngIf="submitted && f['rol'].errors"
                    class="invalid-feedback mt-0"
                  >
                    <p
                      class="validation-error"
                      *ngIf="f['rol'].errors['required']"
                    >
                      Debes especificar una rol.
                    </p>
                  </div>
                </div>
              </div>
              <div class="row mb-5">
                <div class="col-md-4">
                  <label for="username" class="form-label"
                    >Usuario o alias</label
                  >
                  <input
                    formControlName="username"
                    type="text"
                    class="form-control"
                    id="username"
                    placeholder="Introduzca el alias con el que se identificará el usaurio"
                    [ngClass]="{
                      'is-invalid': submitted && f['username'].errors
                    }"
                    [ngClass]="{
                      'is-invalid':
                        f['username'].touched && f['username'].errors
                    }"
                  />
                  <div
                    *ngIf="f['username'].touched && f['username'].errors"
                    class="invalid-feedback mt-0"
                  >
                    <p
                      class="validation-error"
                      *ngIf="f['username'].errors['usernameFound']"
                    >
                      Este username esta registrado.
                    </p>
                  </div>
                  <div
                    *ngIf="submitted && f['username'].errors"
                    class="invalid-feedback mt-0"
                  >
                    <p
                      class="validation-error"
                      *ngIf="f['username'].errors['required']"
                    >
                      Debes especificar un nombre de usuario.
                    </p>
                  </div>
                </div>
                <div class="col-md-4">
                  <label for="email" class="form-label">Correo</label>
                  <input
                    formControlName="email"
                    type="text"
                    class="form-control"
                    id="email"
                    placeholder="Introduzca el correo electrónico del usuario"
                    [ngClass]="{
                      'is-invalid': submitted && f['email'].errors
                    }"
                  />
                  <div
                    *ngIf="submitted && f['email'].errors"
                    class="invalid-feedback mt-0"
                  >
                    <p
                      class="validation-error"
                      *ngIf="f['email'].errors['required']"
                    >
                      el correo electrónico es requerido.
                    </p>
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-end">
                <button class="btn btn-primary p-3" type="submit">
                  Guardar
                </button>
              </div>
            </form>
          </mat-step>
        </mat-stepper>
      </div>
    </div>
  </div>
</section>
