.btn-primary {
  background-color: #008080;
  border: #008080;
}

.mat-form-field {
  margin-top: 16px;
  font-size: 20px;
}
.example-full-width {
  width: 100%;
}
.btn-color {
  background-color: #008080;
  border: #008080;
  color: white;
}
.card-1 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 20px;
}
label {
  color: #000;
  font-weight: bold;
  font-size: 18px;
}
