<div class="container-fluid mt-5">
    <div class="d-flex justify-content-start">
      <button class="btn btn-color p-3" routerLink="/dashboard/users/detalles/1">
        <i class="fa-solid fa-chevron-left"></i> Volver
      </button>
    </div>
    <app-title-page [title]="'Evaluación del posible dueño'"></app-title-page>
    <div class="text-center mt-4">
        <form class="row p-2">
            <div class="col-4">
              <label for="staticEmail2" class="visually-hidden">Email</label>
              <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Nombre de usuario">
            </div>
            <div class="col-4">
              <label for="inputPassword2" class="visually-hidden"></label>
              <input type="password" class="form-control" id="inputPassword2" placeholder="Introduzca el nombre del usuario">
            </div>
            <div class="col-4 d-flex justify-content-end">
              <button type="submit" class="btn btn-color p-3">
                <i class="fa-solid fa-magnifying-glass"></i>
                Buscar dueño</button>
            </div>
          
          </form>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <mat-expansion-panel hideToggle class="mt-5">
          <mat-expansion-panel-header>
            <mat-panel-title> Datos básicos de usuario</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="container">
            <div class="row">
                <div class="col-3">
                    <img
                        src="./assets/images/usuarios.png"
                        alt=""
                        width="100"
                        height="100"
                        class="me-2"
                    /> 
                </div>
                <div class="col-9">
                    <div class="row col-12">
                        <div class="col-4"><strong> ALIAS:</strong> EL ALFA</div>
                        <div class="col-4"><strong> NOMBRE:</strong> JOSE</div>
                        <div class="col-4"><strong> APELLIDOO:</strong> PÉREZ</div>
                        <div class="col-4"><strong> CÉDULA:</strong> Marrón</div>
                        <div class="col-4"><strong> NÚMERO TLF:</strong> Perro</div>
                        <div class="col-4"><strong> RIF:</strong> DFGDFGDGDFG</div>
                        <div class="col-4"><strong> PERFIL:</strong> ADMIN</div>
                        <div class="col-4"><strong> CORREO:</strong> TU@GO.COM</div>
                        <div class="col-12"><strong> DIRECCIÓN DE REFERENCIA:</strong> 20-03-2022</div>
                        <div class="col-12"> 
                            <button
                                class="btn btn-info my-3 mx-1"
                                routerLink="/dashboard/users/evaluation"
                                >
                                <i class="fa-solid fa-file-circle-check"></i> Aprobar evaluación
                            </button>
                            <button
                                class="btn btn-info my-3 mx-1"
                                routerLink="/dashboard/users/evaluation"
                                >
                                <i class="fa-solid fa-file-circle-xmark"></i> Reprobar evaluación
                            </button>
                            <button
                                class="btn btn-info my-3 mx-1"
                                routerLink="/dashboard/users/visit"
                                >
                                <i class="fa-solid fa-copy"></i> Añadir visita
                            </button>
                          </div>
                    </div>    
                </div>  
              
            </div>
          </div>
        </mat-expansion-panel>
      </div>
    </div>
    <div class="row justify-content-center mt-5">
      <div class="col-lg-12">
        <h2>Visitas realizadas</h2>
        <mat-expansion-panel  class="mt-5">
          <mat-expansion-panel-header>
            <mat-panel-title> Visita:</mat-panel-title>
            <mat-panel-description> 20-03-2022 </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="container">
            <div class="row">
                <div class="col-3">
                    <img
                        src="./assets/images/patas.png"
                        alt=""
                        width="100"
                        height="100"
                        class="me-2"
                    /> 
                </div>
                <div class="col-9">
                    <div class="row">
                        <div class="col-6">
                            <strong> NOMBRE:</strong> DOBY
                            <br><strong> SEXO:</strong> M
                            <br><strong> PESO:</strong> 36KG
                            <br><strong> COLOR DE PELO:</strong> Marrón
                            <br><strong> ESPECIE</strong> Perro
                            <br><strong> RAZA:</strong> Pastor alemán
                        </div>
                        <div class="col-6">
                                <strong> Supervisor:</strong> José Pérez
                            <br><strong> Diagnóstico supervisor:</strong> Todo en orden. Buenas condiciones, el anima no presento ningun malestar, ninguna molestioa</div>
                        
                      </div>    
                </div>  
              
            </div>
          </div>
        </mat-expansion-panel>
      </div>
    </div>


  </div>
  