 body {
   margin: 0;
   padding: 0;
   font-family: "Poppins", sans-serif !important;
   font-size: 16px !important;
 }


 @media only screen and (max-width: 1280px) {
   body {
     font-size: 15px !important;
   }
 }

 @media only screen and (min-width: 1281px) {
   body {
     font-size: 16px !important;
   }
 }
