<section class="">
  <div class="container-fluid mt-3">
    <div class="position-absolute">
      <button class="btn btn-color p-3" routerLink="/dashboard/animal/list">
        <i class="fa-solid fa-chevron-left"></i> Volver
      </button>
    </div>
    <app-title-page [title]="'Registro de animal'"></app-title-page>
    <div class="text-center mb-2 mt-1">
      <p>
        "Todos los campos son obligatorios. De no poseer la información
        requerida, ingresar: desconociddo"
      </p>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-12">
        <mat-stepper linear #stepper class="card-1 p-4">
          <mat-step [stepControl]="animalForm">
            <form [formGroup]="animalForm" class="mt-3">
              <ng-template matStepLabel>Datos del animal</ng-template>
              <div class="mb-5">
                <label for="name" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="name" placeholder="Introduzca el nombre del animal"
                  formControlName="name" [ngClass]="{
                    'is-invalid': submitted && formAnimal['name'].errors
                  }" />
                <div *ngIf="submitted && formAnimal['name'].errors" class="invalid-feedback mt-0">
                  <p class="validation-error" *ngIf="formAnimal['name'].errors['required']">
                    Debes especificar un Nombre .
                  </p>
                </div>
              </div>

              <div class="row mb-5">
                <div class="col-md-4">
                  <div class="mb-3">
                    <label for="gender" class="form-label">Genero</label>
                    <select class="form-select" aria-label=" select-sex" formControlName="gender" [ngClass]="{
                        'is-invalid': submitted && formAnimal['gender'].errors
                      }">
                      <option value="male">macho</option>
                      <option value="female">hembra</option>
                      <option value="undefined">indefinido</option>
                    </select>

                    <div *ngIf="submitted && formAnimal['gender'].errors" class="invalid-feedback mt-0">
                      <p class="validation-error" *ngIf="formAnimal['gender'].errors['required']">
                        Debes especificar un Genero .
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="mb-3">
                    <label for="weight" class="form-label">Peso</label>
                    <input type="number" class="form-control" id="weight" placeholder="Introduzca el peso del animal"
                      [ngClass]="{
                        'is-invalid': submitted && formAnimal['weight'].errors
                      }" formControlName="weight" />
                    <div *ngIf="submitted && formAnimal['weight'].errors" class="invalid-feedback mt-0">
                      <p class="validation-error" *ngIf="formAnimal['weight'].errors['required']">
                        Debes especificar un peso .
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="mb-3">
                    <label for="birthday" class="form-label">Fecha de nacimiento</label>
                    <input formControlName="birthday" type="date" class="form-control" id="birthday"
                      placeholder="Introduzca la fecha de fecha nacimiento del animal" [ngClass]="{
                        'is-invalid': submitted && formAnimal['birthday'].errors
                      }" />
                    <div *ngIf="submitted && formAnimal['birthday'].errors" class="invalid-feedback mt-0">
                      <p class="validation-error" *ngIf="formAnimal['birthday'].errors['required']">
                        Debes especificar un Nombre .
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mb-5">
                <div class="col-md-4">
                  <div class="mb-3">
                    <label for="hair_color" class="form-label">Color de pelo</label>
                    <input formControlName="hair_color" type="text" class="form-control" id="hair_color"
                      placeholder="Introduzca el color de pelo del animal" [ngClass]="{
                        'is-invalid':
                          submitted && formAnimal['hair_color'].errors
                      }" />
                    <div *ngIf="submitted && formAnimal['hair_color'].errors" class="invalid-feedback mt-0">
                      <p class="validation-error" *ngIf="formAnimal['hair_color'].errors['required']">
                        Debes especificar un color de pelo .
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="mb-3">
                    <label for="specieId" class="form-label">Especie</label>
                    <ng-autocomplete [data]="species" [searchKeyword]="keyword"
                      placeholder="Introduzca la especie del animal" (inputChanged)="searchSpecies($event)"
                      [itemTemplate]="itemTemplate" formControlName="specieId" [ngClass]="{
                        'is-invalid': submitted && formAnimal['specieId'].errors
                      }">
                    </ng-autocomplete>
                    <ng-template #itemTemplate let-item>
                      <a [innerHTML]="item.name"></a>
                    </ng-template>
                    <div *ngIf="submitted && formAnimal['specieId'].errors" class="invalid-feedback mt-0">
                      <p class="validation-error" *ngIf="formAnimal['specieId'].errors['required']">
                        Debes especificar una especie.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="mb-3">
                    <label for="breedId" class="form-label">Raza</label>
                    <ng-autocomplete [data]="breeds" [searchKeyword]="keyword"
                      placeholder="Introduzca la raza del animal" (inputChanged)="searchBreed($event)"
                      [itemTemplate]="itemTemplate" formControlName="breedId" [ngClass]="{
                        'is-invalid': submitted && formAnimal['breedId'].errors
                      }">
                    </ng-autocomplete>
                    <ng-template #itemTemplate let-item>
                      <a [innerHTML]="item.name"></a>
                    </ng-template>
                    <div *ngIf="submitted && formAnimal['breedId'].errors" class="invalid-feedback mt-0">
                      <p class="validation-error" *ngIf="formAnimal['breedId'].errors['required']">
                        Debes especificar una raza.
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="d-flex justify-content-end mt-3">
                <button type="button" class="btn btn-primary  btn-lg" matStepperNext (click)="isValid()">
                  Siguiente <i class="fa-solid fa-angle-right"></i>
                </button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="addressForm">
            <form [formGroup]="addressForm" class="mt-3">
              <ng-template matStepLabel>Sitio de rescate </ng-template>
              <div class="row mb-5">
                <div class="col-lg-6">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="mb-4">
                        <label for="state" class="form-label">Estado</label>
                        <input formControlName="state" type="text" class="form-control" id="state"
                          placeholder="Introduzca el estado" [ngClass]="{
                            'is-invalid':
                              submitted && formAddress['state'].errors
                          }" />
                        <div *ngIf="submitted && formAddress['state'].errors" class="invalid-feedback mt-0">
                          <p class="validation-error" *ngIf="formAddress['state'].errors['required']">
                            Debes especificar un Estado .
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="mb-3">
                        <label for="city" class="form-label"> Ciudad</label>
                        <input formControlName="city" type="text" class="form-control" id="city"
                          placeholder="Indique la ciudad" [ngClass]="{
                            'is-invalid':
                              submitted && formAddress['city'].errors
                          }" />
                        <div *ngIf="submitted && formAddress['city'].errors" class="invalid-feedback mt-0">
                          <p class="validation-error" *ngIf="formAddress['city'].errors['required']">
                            Debes especificar una ciudad .
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="row my-4">
                      <div class="col-lg-4">
                        <div class="mb-3">
                          <label for="street" class="form-label">Calle</label>
                          <input formControlName="street" type="text" class="form-control" id="street"
                            placeholder="Calle" [ngClass]="{
                              'is-invalid':
                                submitted && formAddress['street'].errors
                            }" />
                          <div *ngIf="submitted && formAddress['street'].errors" class="invalid-feedback mt-0">
                            <p class="validation-error" *ngIf="formAddress['street'].errors['required']">
                              Debes especificar una calle .
                            </p>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4">
                        <div class="mb-4">
                          <label for="home" class="form-label">Casa</label>
                          <input formControlName="home" type="text" class="form-control" id="home" placeholder="Número"
                            [ngClass]="{
                              'is-invalid':
                                submitted && formAddress['home'].errors
                            }" />
                          <div *ngIf="submitted && formAddress['home'].errors" class="invalid-feedback mt-0">
                            <p class="validation-error" *ngIf="formAddress['home'].errors['required']">
                              Debes especificar un numero de casa .
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="mb-3">
                          <label for="postal_code" class="form-label">Código postal</label>
                          <input formControlName="postal_code" type="text" class="form-control" id="postal_code"
                            placeholder="Introduzca el código postal acorde a la zona" [ngClass]="{
                              'is-invalid':
                                submitted && formAddress['postal_code'].errors
                            }" />
                          <div *ngIf="
                              submitted && formAddress['postal_code'].errors
                            " class="invalid-feedback mt-0">
                            <p class="validation-error" *ngIf="
                                formAddress['postal_code'].errors['required']
                              ">
                              Debes especificar un codigo postal.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-6">
                  <app-map-sdcreen (locationEvent)="getLocation($event)"></app-map-sdcreen>
                </div>
              </div>

              <div class="d-flex justify-content-end mt-3">
                <button class="btn btn-primary  btn-lg mx-1" type="button" matStepperPrevious>
                  <i class="fa-solid fa-angle-left"></i> Volver
                </button>
                <button type="button" class="btn btn-primary  btn-lg mx-1" (click)="addressValid()" matStepperNext>
                  Siguente <i class="fa-solid fa-angle-right"></i>
                </button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="rescuerForm">
            <ng-template matStepLabel>Rescatista</ng-template>
            <div class="row justify-content-center mb-5">
              <div class="col-lg-6">
                <div class="d-flex">
                  <input type="text" placeholder="Buscar por cedula o rif" [formControl]="myControl"
                    class="form-control" [matAutocomplete]="auto" />
                  <mat-autocomplete (optionSelected)="selectUser($event)" autoActiveFirstOption #auto="matAutocomplete"
                    [displayWith]="displayFn">
                    <mat-option *ngFor="let user of filteredOptions | async" [value]="user">
                      {{ user.name }} {{ user.lastName }}
                    </mat-option>
                  </mat-autocomplete>
                  <button type="button" mat-button *ngIf="hasValue" matSuffix mat-icon-button aria-label="Clear"
                    (click)="clear()">
                    <mat-icon>close</mat-icon>
                  </button>
                </div>
              </div>
            </div>
            <form [formGroup]="rescuerForm" (ngSubmit)="saveAll()" class="mt-3">
              <div class="row mb-5">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="name" class="form-label">Nombre</label>
                    <input formControlName="name" type="text" class="form-control" id="name" autocomplete="off"
                      placeholder="Introduzca el nombre de la persona/institución que realizó el rescate" [ngClass]="{
                        'is-invalid': submitted && formRescuer['name'].errors
                      }" />
                    <div *ngIf="submitted && formRescuer['name'].errors" class="invalid-feedback mt-0">
                      <p class="validation-error" *ngIf="formRescuer['name'].errors['required']">
                        Debes especificar el nombre de la persona o instutucion.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="lastName" class="form-label">Apellido</label>
                    <input formControlName="lastName" type="text" class="form-control" id="lastName"
                      placeholder="Introduzca el apellido de la persona/institución que realizó el rescate" [ngClass]="{
                        'is-invalid':
                          submitted && formRescuer['lastName'].errors
                      }" />
                    <div *ngIf="submitted && formRescuer['lastName'].errors" class="invalid-feedback mt-0">
                      <p class="validation-error" *ngIf="formRescuer['lastName'].errors['required']">
                        Debes especificar el apellido de la persona o seudo
                        nombre de la institución .
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mb-5">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="dni" class="form-label">Cédula</label>
                    <input formControlName="dni" type="text" class="form-control" id="dni"
                      placeholder="Introduzca la cédula del rescatista" [ngClass]="{
                        'is-invalid': submitted && formRescuer['dni'].errors
                      }" />
                    <div *ngIf="submitted && formRescuer['dni'].errors" class="invalid-feedback mt-0">
                      <p class="validation-error" *ngIf="formRescuer['dni'].errors['required']">
                        Debes especificar la cedula de la persona o rif de la
                        institución .
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="phone" class="form-label">Número telefónico</label>
                    <input formControlName="phone" type="text" class="form-control" id="phone"
                      placeholder="Introduzca el número de teléfono del rescatista" [ngClass]="{
                        'is-invalid': submitted && formRescuer['phone'].errors
                      }" />
                    <div *ngIf="submitted && formRescuer['phone'].errors" class="invalid-feedback mt-0">
                      <p class="validation-error" *ngIf="formRescuer['phone'].errors['required']">
                        Debes especificar el numero de telefono de la persona o
                        de la institución .
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="mb-5">
                <label for="email" class="form-label">Correo</label>
                <input formControlName="email" type="text" class="form-control" id="email"
                  placeholder="Introduzca el correo electrónico del reescatista" [ngClass]="{
                    'is-invalid': submitted && formRescuer['email'].errors
                  }" />
                <div *ngIf="submitted && formRescuer['email'].errors" class="invalid-feedback mt-0">
                  <p class="validation-error" *ngIf="formRescuer['email'].errors['required']">
                    Debes especificar el correo de telefono de la persona o de
                    la institución .
                  </p>
                </div>
              </div>
              <div class="d-flex justify-content-end mt-3">
                <button type="button" class="btn btn-primary  btn-lg mx-1" matStepperPrevious>
                  <i class="fa-solid fa-angle-left"></i> Volver
                </button>
                <button type="submit" class="btn btn-primary btn-lg mx-1" matStepperNext>
                  Guardar <i class="fa-solid fa-floppy-disk"></i>
                </button>
              </div>
            </form>
          </mat-step>
        </mat-stepper>
      </div>
    </div>
  </div>
</section>
