
<section class="">
    <div class="container-fluid ">
        <div class="text-center mb-4 mt-2">
            <h1>Historia Clínica</h1>
        </div>
        <div class="text-center my-4">
            <h5>Para ver la hitoria clínica, ingrese el expediente del animal</h5>
        </div>
        <div class="text-center my-4">
            <form class="row">
                <div class="col-4">
                  <label for="staticEmail2" class="visually-hidden">Email</label>
                  <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Expediente del Animal:">
                </div>
                <div class="col-4">
                  <label for="inputPassword2" class="visually-hidden"></label>
                  <input type="password" class="form-control" id="inputPassword2" placeholder="Introduzca expediente #58954352">
                </div>
                <div class="col-4">
                  <button type="submit" class="btn btn-primary mb-3">Buscar expediente</button>
                </div>
              </form>
        </div>
        <hr>
            <div class="row">
                <div class="col-4">
                    <strong> EXPEDIENTE:</strong> #58954352
                </div>
                <div class="col-4">
                    <strong> NOMBRE:</strong> Doby
                </div>
                <div class="col-4 mb-3">
                    <strong> SEXO:</strong> M
                </div>
                <div class="col-4">
                    <strong> COLOR PELO:</strong> Marrón
                </div>
                <div class="col-4">
                    <strong> ESPECIE:</strong> Perro
                </div>
                <div class="col-4 mb-3">
                    <strong> RAZA:</strong> Pastor alemán
                </div>
                <div class="col-4">
                    <strong> FECHA NACIMIENTO:</strong> 2019-05-02
                </div>
                <div class="col-4">
                    <strong> FECHA RESCATE:</strong> 2021-06-04
                </div>
                <div class="col-4 mb-2">
                    <strong> FECHA ULT CONSULTA:</strong> 2022-03-15
                </div>
            </div>
        <hr>
        <table class="table table-hover  table-sm align-middle my-4">
            <thead class="table  ">
                <tr>
                <th scope="col">CONSULTA</th>
                <th scope="col">FECHA</th>
                <th scope="col">PESO</th>
                <th scope="col">VETERINARIO</th>
                <th scope="col">ATENCIONES</th>
                <th scope="col">VACUNAS</th>
                <th scope="col">ENFERMEDADES</th>  
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><strong>#58954352</strong></td>
                    <td>2022-03-15</td>
                    <td>36kg</td>
                    <td>José Pérez</td>
                    <td>Listar</td>
                    <td>Saber más</td>
                    <td>Desplegar</td>
                </tr>
                <tr>
                    <td><strong>#58454354</strong></td>
                    <td>2022-01-25</td>
                    <td>34kg</td>
                    <td>David Salazar</td>
                    <td>Listar</td>
                    <td>Saber más</td>
                    <td>Desplegar</td>
              </tr>
              <tr>
                <td><strong>#57945435</strong></td>
                <td>2021-12-14</td>
                <td>38kg</td>
                <td>María Guevara</td>
                <td>Listar</td>
                <td>Saber más</td>
                <td>Desplegar</td>
            </tr>
            <tr>
                <td><strong>#55945435</strong></td>
                <td>2021-05-19</td>
                <td>37kg</td>
                <td>Francisco Castañeda</td>
                <td>Listar</td>
                <td>Saber más</td>
                <td>Desplegar</td>
          </tr>
            </tbody>
        </table>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Actualización de oferta</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="mb-3 px-3 align-middle">
                        <b>Empleo:           </b>#58945435<br>
                        <b>Tema:             </b>Servicio técnico<br>
                        <b>Tópico:           </b>Computadoras<br>
                        <b>Demanda actual:  </b>
                        <b>Contenido:        </b>HP, DELL,SIRAGON,LENOVO<br>
                        <b>Horario:          </b>de 8am a 4pm<br>
                        <b>Demanda anterior: </b>2<br>
                        <b>Demanda actual:  </b>
                        <label for="recipient-name" class="col-form-label"><input type="text" class="form-control" id="recipient-name"></label> 
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary"  data-bs-dismiss="modal">Actualizar</button>
                </div>
              </div>
            </div>
          </div>

    </div>
</section>
