<section class="">
  <div class="container-fluid mt-5">
    <app-title-page [title]="'Gestión de usuarios'"></app-title-page>
    <div class="d-flex justify-content-end mb-4">
      <button class="btn btn-color p-3" routerLink="/dashboard/users/create">
        <i class="fa-solid fa-circle-plus"></i> Agregar usuario
      </button>
    </div>
    <app-table-user></app-table-user>
  </div>
</section>
